.section-home {
	position: relative;
	z-index: 1;
	&-inner {
		position: relative;
		padding: 75px 0 70px;
		height: calc(100vh - 75px);
		z-index: 2;
	}
	h1 {
		position: relative;
		margin-bottom: 40px;
		span {
			display: block;
			padding: 35px 0 40px;
		}
		&:before {
			display: block;
			position: absolute;
			content: '';
			width: 100%;
			max-width: 370px;
			height: 2px;
			background-color: #000;
			bottom: 0;
		}
	}
}

.tags {
	h6 {
		font-size: 19px;
		margin-bottom: 8px;
	}
	ul {
		li {
			margin-bottom: 8px;
		}
		a {
			line-height: 1;
		}
	}
}

.link-absolute {
	position: absolute;
	left: 0;
	bottom: 70px;
}

.home-slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 5px;
	width: 65%;
	overflow: hidden;
	.slick-list {
		height: 100% !important;
	}
	.slick-track {
		height: 100% !important;
	}
	.home-slider-item {
		width: 100%;
		height: 100%;
		position: relative;
	}
	.resp-img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-position: center center;
	}
	.slick-arrow {
		position: absolute;
		left: 35px;
		z-index: 3;
		cursor: pointer;
		font-size: 30px;
	}
	.slider-next-arrow {
		bottom: 60px;
	}
	.slider-prev-arrow {
		bottom: 105px;
	}
}