.art{
	&-header{
		margin-bottom: 40px;
	}
	&-item{
		margin-bottom: 70px;
		&_title{
			margin-bottom: 10px;
		}
		&_img{
			position: relative;
			height: 0;
			padding-bottom: 56.25%;
			margin-bottom: 40px;
		}
		&_descr{
				position: relative;
				&:after{
					content: '';
					display: block;
					position: absolute;
					left: 0;
					right: 0;
					height: 3px;
					background: #000;
					bottom: 0;
				}
			& p {
				background: #fff;
				padding-right: 15px;
				display: inline-block;
				position: relative;
				z-index: 1;
			}
		}
		&_text {
			margin-top:20px;
		}
		&.-collection {
			.art-item_img {
				margin-bottom: 45px;
			}
			.art-item_title {
				margin-bottom: 15px;
			}
		}
	}
	&-block{
		// margin-bottom: 20px;
	}
}

.artist{
	&-item{
		&_img{
			position: relative;
			height: 0;
			padding-bottom: 100%;
			margin-bottom: 40px;
		}
		&_title{

		}
	}
}

.artist{
	&-filter{
		display: flex;
		& li {}
		& a {
			font-size: 19px;
			font-weight: 900;
			display: block;
			padding: 8px 9px;
			color: #000;
			border-bottom: 2px solid transparent;
			text-transform: uppercase; 
			&:hover,
			&:focus,
			&:active,
			&.active{
				color: #000;
				border-color: #000;
			}
		}
	}
}