.custom-scroll {
	.mCSB_outside {
		& + .mCSB_scrollTools {
			right: inherit;
			left: 0;
		}
	}
	.mCSB_scrollTools {
		width: 2px;
		.mCSB_buttonRight,
		.mCSB_buttonLeft,
		.mCSB_buttonUp,
		.mCSB_buttonDown {
			display: none !important;
			background: none !important;
		}
		a + .mCSB_draggerContainer {
			margin: 0;
		}
		.mCSB_draggerRail {
			background-color: #000;
		}
		.mCSB_dragger {
			width: 13px;
			min-height: 2px !important;
			height: 2px !important;
			background-color: #000;
			&_bar {
				line-height: 1 !important;
				display: none;
			}
		}
	}
}