.section{
	&-account{
		padding-top: 60px;
	}
	&-login{
		padding-top: 90px;
	}
	&-all_artist{
		padding-top: 60px;
		& .section{
			&-header{
				padding-bottom: 60px;
			}
		}
	}
	&-collection {
		overflow: hidden;
		padding-top: 75px;
		& .row {
			[class*="col-"] {
				&:last-child {

				}
			}
		}
	}
	&-interview {
		padding-top: 70px;
	}
}


@media screen and (max-width:991px) {
	.section {
		&-collection {
			& .row {
				[class*="col-"] {
					&:last-child {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width:767px) {
	.section {
		&-collection {
			& .row {
				[class*="col-"] {
					&:last-child {
						display: block;
					}
				}
			}
		}
	}
}