.window-border{
	&_top{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 6px;
		background: $primary;
		z-index: 100;
	}
	&_right{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 6px;
		background: $primary;
		z-index: 100;
	}
	&_bottom{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 6px;
		background: $primary;
		z-index: 100;
	}
	&_left{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 6px;
		background: $primary;
		z-index: 100;
	}
}