@font-face {
    font-family: 'hiragino_kaku';
    src: url('../fonts/HiraKaku/ufonts.com_hirakakupro-w3-opentype-webfont.woff2') format('woff2'),
         url('../fonts/HiraKaku/ufonts.com_hirakakupro-w3-opentype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}