.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 17px 0;
	z-index: 3;
}
.header-inner-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo-wrap {
	h2 {
		text-transform: uppercase;
		font-size: 41px;
	}
}

.header-menu {
	display: flex;
	margin: 3px 0 0;
}
